#header{background-color: black;
height: 210px;
}
#h1{text-align: center;
    color: red;
    margin-top: 0;
    padding-top: 90px;
}

#body{height: auto;
background-color: gray;}

#footer{background-color: black;
height: 210px;
margin-top: auto;}

#h2{ text-align: center;
color: red;
margin-top: auto;
}
#php{margin-top: 40px;
margin-bottom: 40px;}
a{
    color: red;}
 p{
    text-align: center;
     font-size: xx-large;
  }

 #doss{
     color: red;
 }
#fch {
    color: blue;

}